* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: #f4f4f4;
}
/* utilities classes */
.text-center {
  text-align: center;
}
.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 2rem;
  overflow: hidden;
}
.text-primary {
  color: rgb(121, 161, 40);
}
.large-heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}
.py-1 {
  padding: 1.5rem;
}
.py-2 {
  padding: 2.5rem;
}
.py-3 {
  padding: 3.5rem;
}
.m-heading {
  font-size: 1.9rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2.2rem;
  padding: 30px;
}
.btn-dark {
  background-color: #555;
  color: #f2f2f2;
  padding: 10px 20px;
}
.btn {
  display: inline-block;
  color: #f2f2f2;
  background-color: yellowgreen;
  padding: 12px 20px;
  border-radius: 5px;
}
.bg-primary {
  background-color: #3edf3e;
}
.btn:hover {
  background-color: rgb(161, 184, 184);
  color: rgb(7, 56, 58);
}
.bg-dark {
  background: #444;
  color: #F2F2F2;
}
/* Nav bar */
#nav-bar {
  position: sticky;
  top: 0px;
  font-size: 1.3rem;
  display: flex;
  background-color: rgb(50, 54, 50);
  color: #c7c1c1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(164, 211, 71) solid;
  z-index: 1;
}
#nav-bar .logo {
  margin-left: 20px;
}
#nav-bar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav-bar ul li a {
  display: block;
  padding: 7px 15px;
  margin: 7px;
}
#nav-bar ul li a:hover {
  background-color: rgb(164, 211, 71);
  border-radius: 2px;
}
/* Show case */
#showcase {
  background:  url('../img/building.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  color: #eee7e7;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  /* Overlay */
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
/* what we do section */
#what .items {
  display: flex;
}
#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1.5rem ;
}
#what .items .item h3, #what .items .item p {
  margin-bottom: 10px;
}
#what .items .item p {
  line-height: 1.7;
}
#what .items .item i {
  border-radius: 50%;
  background-color: rgb(85, 148, 22);
  padding: 10px;
  margin-bottom: 20px;
}

/* who section */
#who {
  display: flex;
  overflow: hidden;
  font-size: 1.1rem;
}
#who .who-img {
  
  flex: 1.5;
  background: url('../img/employee.jpg');
  background-position: center;
  background-size: cover/center;
  background-repeat: no-repeat;
}
#who .who-text {
  flex: 2;
  padding-left: 30px;
}
#who .who-text h2 {
  padding-top: 5px;
}
#who .who-text h2 , #who .who-text p, #who .who-text h3, #who .who-text ul {
  padding-bottom: 15px;
}
#who .who-text ul li {
  list-style-type: none;
  margin-top: 13px;
  border-bottom: 1px solid #f2f2f2;
}
/* section clients */
#clients .items {
  display: flex;
}
#clients  h2 {
  padding-top: 20px;
}
#clients .items img {
  display: block;
  margin: auto;
  width: 70%;
}
/* contact section */
#contact {
  display: flex;
}
#contact .contact-form {
  flex:1;
  color: #f2f2f2;
  padding: 12px 20px;
}
#contact .contact-form input, #contact .contact-form textarea {
  display: block;
  margin: 10px 0px;
  width: 80%;
  padding-left: 10px;
  height: 50px;
}
#contact .map {
  flex:1;
  display: block;
}
/* footer */
footer {
  background-color: #222;
  color: #f2f2f2;
  padding: 30px;
  text-align: center;
  line-height: 1.2;
  font-weight: 600;
}